:root {
  --button-accent: #d47382;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

.flex{
  display: flex;
}

.space-between{
  justify-content: space-between;
}

body {
  font-family: 'Roboto';
  background-color: #eee7e7;
}

/*----------------------------*/
/*        Header              */
/*----------------------------*/

header {
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  height: 50px;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
}

nav ul li{
  padding: 0 10px;
}

h1 a {
  font-size: 23px;
  height: 50px;
}

h1 a, nav ul li a{
  text-decoration: none;
  color: #000;
}

/*----------------------------*/
/*        Banner              */
/*----------------------------*/

.hero-banner {
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  padding: 60px;
  margin-left: -50vw;
  margin-right: -50vw;
  background: url('../media/hand-holding.jpg') center / cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.hero-banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
}

.banner-title {
  font-size: 30px;
  z-index: 2;
}

.banner-desc {
  text-align: center;
  z-index: 2;
}

.button-container {
  display: flex;
  gap: 20px;
}

input[type=button] {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 600;
  cursor: pointer;
}

.primary {
  background-color: var(--button-accent);
  color: #fff;
}

.secondary {
  color: var(--button-accent);
  border: 1px solid var(--button-accent);
}

/*----------------------------*/
/*        Gallery             */
/*----------------------------*/

.gallery {
  height: 600px;
  display: flex;
  align-items: center;
}

.gallery-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.img {
  width: 250px;
  height: 300px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

footer {
  height: 50px;
  background-color: #d47381a9;
  font-weight: bold;
  display: flex;
  justify-content: right;
  align-items: end;
}